<!-- Heading Row -->
<div class="row">
    <div class="col-md-8 remoteStreams" ng-controller="RemoteStreamsController as rtc">
        <h1>Remote Video</h1>
        <div id="remoteVideosContainer"></div>
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4 localStream" ng-controller="LocalStreamController as localStream">
        <h1>Local Video</h1>
        <video id="localVideo" muted="muted" autoplay="true" width="100%"></video>
        <button ng-click="localStream.toggleCam()" class="btn btn-default" style="width: 100%">{{ localStream.cameraIsOn ? 'Stop' : 'Start' }}</button>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->

